# Urea Concentration Prediction
Julia A King  
November 9th, 2021  
<span style="color:darkred">Center for Dialysis and Innovation</span>  
  
### Purpose
Use optical absorbance data for urea in solvents (water or fresh dialysate) to model the urea concentration

In [1]:
# Import packages

import pandas as pd
imp

In [4]:
# Import data

data = pd.read_csv('absorbances_dataset.csv')

# Date Codes:
# 44482 = 10/13/2021
# 44496 = 10/27/2021
# 44418 = 8/10/2021

In [9]:
data

,urea_concentration (mM),wavelength (nm),absorbance (A),stdev.p,solvent,background,date,n_replicates
0,0.5,190,0.553000,0.002000,water,water,44482,2
1,0.5,191,0.457000,0.002000,water,water,44482,2
2,0.5,192,0.364500,0.002500,water,water,44482,2
3,0.5,193,0.286500,0.002500,water,water,44482,2
4,0.5,194,0.232000,0.002000,water,water,44482,2
...,...,...,...,...,...,...,...,...
3926,12.0,296,0.000667,0.000943,fresh_dialysate,fresh_dialysate,44418,3
3927,12.0,297,0.000667,0.000943,fresh_dialysate,fresh_dialysate,44418,3
3928,12.0,298,0.000667,0.000943,fresh_dialysate,fresh_dialysate,44418,3
3929,12.0,299,0.000667,0.000943,fresh_dialysate,fresh_dialysate,44418,3
3930,12.0,300,0.000667,0.000943,fresh_dialysate,fresh_dialysate,44418,3